.btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 7px 10px;
    margin: 10px 0;
    &:focus{
        outline: none
    }
    &:hover {
        background-color: darken($color: $primary, $amount: 15)
    }
}

.btn-block {
    width: 100%;
}

.btn-lg {
    height: 40px;
}

.btn-primary{
    background-color: $primary;
    border-radius: 2px;
    &:disabled{
        background-color: lighten($color: $primary, $amount: 20);
    }
}

.btn-danger{
    background-color: red;
    border-radius: 2px;
    &:disabled{
        background-color: lighten($color: red, $amount: 20);
    }
}
